/* styles.css */

/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bb08a3;
    font-family: 'Arial', sans-serif;
    color: #333;
}

main {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

/* Header Styles */
h1 {
    color: #1ad113;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
}

form .form-label {
    font-weight: bold;
    color: #495057;
}

form .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    background-color: #007bff;
    border: none;
}

form .btn-primary:disabled {
    background-color: #6c757d;
}

/* Image Preview Styles */
#selected-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #dee2e6;
}

/* Results Styles */
section.border {
    background-color: #fff;
    border-radius: 8px;
}

h2 {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
}

.table-responsive {
    margin-top: 20px;
}

table thead {
    background-color: #007bff;
    color: #fff;
}

table tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}
